baseURL = "http://localhost:1313/"
languageCode = "en-us"
title = "stuartleeks.com"
theme = "stuartleeks1"
# theme = "beautifulhugo"
# theme = "ananke"
googleAnalytics = "XXX"

[Params]
  subtitle = "My little corner of the interwebs"
  mainSections = ["post","posts"]
  rss = true
#   featured_image = "/images/bridge1a.jpg"
  featured_image = "/images/stones1a.jpg"
  includePhotoSwipe = false
  favicon = "images/favicon.ico"
  socialShare = true
  azureSearchApiKey= "E87CA53030690C95CA3D2D22C5CE5C6E"
  azureSearchInstance = "stuartleekscom"
  azureSearchIndex = "azureblob-index"
  azureSearchResults = 25
  
  ######################################
  # Headings Anchor

  enableHeadingsAnchor = true

  # Level range of headings
  headingsOpt = "1-6"
  # Note: regex format, default value
  #       is 1-6, which is 1|2|3|4|5|6,
  #       which is h1 to h6.

  anchorSymbol = "#"
  # Note: the anchorIcon has a higher
  #       priority than anchorSybol
  #       Default: ยง

  anchorIcon = "link"
  # Note: you can leave it empty("") to
  #       fallback to the anchorSymbol

  enableAnchorLink = true

  enableAnchorAutoHide = true





[Author]
  name = "Stuart Leeks"
  website = "https://stuartleeks.com"
  github = "stuartleeks"
  twitter = "stuartleeks"
  linkedin = "stuartleeks"
  stackoverflow = "users/202415/stuart-leeks"


[[menu.main]]
    name = "Blog"
    url = "/"
    weight = 1

[[menu.main]]
    name = "About"
    url = "about/"
    weight = 3

[[menu.main]]
    parent = "About"
    name = "me"
    url = "about"
    weight = 1

[[menu.main]]
    parent = "About"
    name = "theme"
    url = "about/theme"
    weight = 3


[outputFormats.JSON]
  mediaType = "application/json"
  baseName = "feed"
  path = "searchindex"
  isPlainText = true

[outputs]
  home = ["HTML", "JSON"]
